<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Itisadb</title>
  <link rel="stylesheet" href="/static/css/auth.css">

</head>
<body>
<body class="container">
  <div class="login-container">
    <div class="login-content">
      <h1 class="welcome-text">Log In</h1>
      <form class="login-form" method="post" action="/auth">
        <input type="text" placeholder="Username" name="login" class="input-field">
        <input type="password" placeholder="Password"  name="password" class="input-field">
        <button type="submit" class="login-button">Login</button>
      </form>
    </div>
  </div>
</body>
<!-- partial -->
  
</body>
</html>
