<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>gRPCis</title>
  <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<div class="container">
  <div class="block">
    gRPCis [Version 0.1.1] <br>
  </div><br>
  <div class="block">
    <label for="name">C:\GRPC\Call></label>
    <input type="text" name="name" id="name" autocomplete="off" class="textfield" placeholder="Type your request">
  </div>
  <div class="message">
    Type 'help' for more information. <br>
  </div>
</div>
  <script  src="/static/js/script.js"></script>

</body>
</html>
