body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family: "Helvetica Neue", sans-serif;
}

.login-container {
    background-color: black;
    padding: 20px;
    border-radius: 40px;
}

.login-content {
    text-align: center;
    padding: 20px;
}

.welcome-text {
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.input-field {
    display: block;
    width: auto;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #555;
    border-radius: 15px;
    background-color: #444;
    color: #fff;
}

.login-button {
    display: block;
    width: 100%;
    max-width: 100px;
    padding: 10px;
    margin: 20px auto 10px;
    border: none;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.demo-button {
    font-size: 12px;
    /*width: 100%;*/
    max-width: 100px;
    padding: 10px;
    margin: 20px auto 10px;
    border: none;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s ease;
    display: inline-block;
    text-decoration: underline;
}

.login-button:hover {
    background-color: #afc1f4;
    box-shadow: 15px;
    box-shadow: 0px 0px 10 rgba(0, 0, 0, 0.3);
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}