body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-family: "Helvetica Neue", sans-serif;
}
.container {
  max-width: 80%;
  max-height: 50vh;
  margin: auto;
  position:relative;
}

.version-text {
  font-size: 11px;
  color: #d9d9d9;
  margin-top: -15px;
  padding-bottom: 10px;
}


.textfield {
  background: #000;
  border: none;
  color: #fff;
  padding-left: 5px;
  padding-bottom: 15px;
  width: 700px;
  font-size: 24px;
  /*text-align: center;*/
}

.textfield:focus {
  border: none;
  outline: none;
  text-align: left;
}

.message {
  padding-left: 5px;
  text-align: left;
  position:absolute;
  margin-right: 15%;
 }